<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>mobile_final_project.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>252C66F31BDFB1F600FF5E1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>252C67071BDFB1F700FF5E1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>252C67121BDFB1F700FF5E1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
